
*{
    margin: 0;
    padding: 0;
}
nav{ 
    background: rgb(199, 184, 101);
    padding: 0.3rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white; text-decoration: none; 
    padding: 0.5rem 1rem; 
    display: block;
}
nav ul li a:hover{
    background-color: darkgray;
    border-radius: 5px;
    transform: scale(1.1);
}

 body main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif; color: white;
    }   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    margin: 150px auto;
    width: 70%;  
}
.text-box {
    color: white;
}
.text-box h2 {
    font-size: 16px;
}
img {
    max-width: 320px; 
    float: right;
    border-radius: 10px;
    margin-left: 15px;
}
button:hover {
    color: darkgrey;
    border-radius: 5px;
    transform: scale(1.1);
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
footer { 
    background: rgb(199, 184, 101);
    padding: 0.3rem;
}
footer ul li a{
    color: white; text-decoration: none; 
    padding: 0.5rem 1rem; 
    display: block;
}
footer a:hover {
    color: darkgrey;
    border-radius: 5px;
    transform: scale(1.1);
}
