@media (max-width: 600px) 
*{
    margin: 0;
    padding: 0;
}
nav {
    background: rgb(199, 184, 101);
    padding: 0.3rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white; text-decoration: none; 
    padding: 0.5rem 1rem; 
    display: block;
}
nav ul li a :hover{
    background-color: darkgray;
    border-radius: 5px;
}

 body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif; color: white; font-size: small;
    }   
.box-container {
    background-color: rgb(171, 177, 89);
} 
.box {
    border: 1px; 
    color: rgb(22, 18, 18);
    height: 100px;
    width: 100px;
}